/*come on*/

.header {
  display: flex;
  justify-content: space-between;
  width: 1052px;
  margin: 92px 24px 96px;
  padding: 0 26px 0;
}

.menu {
  display: flex;
  gap: 35px;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.18px;
}

.menu-list {
  display: flex;
  gap: 31.48px;
  box-sizing: border-box;
  padding: 44px 0 40px;
  text-underline-offset: 3px;
  list-style: circle;
}

.menu-center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.markerless-list-position {
  list-style: none;
}

.logo-header {
  position: relative;
  top: 0;
  left: -74px;
  width: 148px;
  height: 105px;
}

.logo-contrast {
  justify-content: center;
  width: 148px;
  height: 114px;
}

.logo-background {
  height: 240px;
  border-radius: 50%;
  padding: 63px 46px;
  background-color: #000;
}

.contacts {
  align-self: flex-end;
  width: 240.521px;
  padding-bottom: 0.8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 135%;
}

.cover {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 1100px;
  min-height: 757px;
  color: #fff;
  text-transform: uppercase;
  background-color: #b012db;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.headline {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
  padding: 165px 50px 135px;
  font-weight: bold;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
}

.special-letter-spacing {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.flex-item-special {
  line-height: 115%;
}

.flex-item-center {
  align-self: center;
}

.flex-item-end {
  align-self: end;
}

.bet-form {
  z-index: 1;
  box-sizing: content-box;
  padding: 0 0 51px 78px;
  font-weight: normal;
  line-height: 28px;
  text-transform: uppercase;
}

.bet-title {
  display: inline-block;
  word-spacing: 18.4px;
}

.button {
  margin-left: 78px;
  border: solid 1px;
  padding: 12px 32px 11px 31px;
  color: #eee;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: normal;
  text-transform: uppercase;
  background-color: rgb(1, 1, 1, 0);
}

.lots {
  margin: 179px 24px 146px;
}

.heading {
  margin: 0 0 27px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 334px;
  min-height: 563px;
  padding: 51px 40px 48px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card-movie {
  background-image: url(../images/card-lot-01.jpg);
}

.card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lot-title {
  z-index: 1;
  max-width: 254px;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
}

.text {
  z-index: 1;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.link {
  text-decoration-line: underline;
  text-underline-offset: 2px;
}

.read-more {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-underline-offset: 3px;
}

.about {
  display: flex;
  gap: 72px;
  margin: 0 24px 0px;
  padding: 35px 0 0 47px;
}

.heading-logo {
  margin: 101px 0 100px;
}

.article-content {
  display: flex;
  flex-direction: column;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  letter-spacing: 0.2px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-content: start;
  margin: 180px 50px 88px;
}

.media {
  display: flex;
  gap: 48px;
}

.media-logo {
  width: 48px;
  height: 48px;
}
