
.header {
  display: flex;
  justify-content: space-between;
  width: 1052px;
  height: 105px;
  margin: 92px 24px 96px;
  padding: 0 26px 0;
}
.menu {
  display: flex;
  gap: 35px;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.18px;
}
.menu-list {
  display: flex;
  gap: 31.48px;
  box-sizing: border-box;
  padding: 44px 0 40px;
  text-underline-offset: 3px;
  list-style: circle;
}

.menu-center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.markerless-list-position {
  list-style: none;
}
.logo-black {
  width: 148px;
  height: 105px;

}
.logo-white {
  justify-content: center;
  width: 148px;
  height: 114px;
}
.logo-background {
  height: 240px;
  padding: 63px 46px;
  background-image: url(../images/Ellipse\ 10.svg);
}
.contacts {
  align-self: flex-end;
  width: 240.521px;
  height: 98px;
  font-weight: normal;
  font-size: 18px;
  line-height: 135%;
}

.cover {
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 757px;
  color: #fff;
  text-transform: uppercase;
  background-color: #b012db;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  z-index: 1;
  width: 1100px;
  height: 757px;
  opacity: 0.6;
  background-color: #000;

}
.headline {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
  padding: 165px 50px 147px;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
}
.special-letter-spacing {
  letter-spacing: 60px;
}
.no-letter-spacing {
  letter-spacing: normal;
}
.flex-item {
  line-height: 115%;
}
.flex-item-center {
  align-self: center;
  line-height: 100%;
}
.flex-item-end {
  align-self: end;
  line-height: 100%;
}
.subtitle {
  z-index: 2;
  box-sizing: content-box;
  padding: 0 0 62px 78px;
  font-weight: normal;
  line-height: 28px;
  text-transform: uppercase;
}
.word-spacing-a {
  word-spacing: 18px; /*letter-spacing: 24.2px;*/
}
.word-spacing-b {
  word-spacing: 19px;
}
.button {
  margin-left: 74px;
  border: solid 1px;
  padding: 12px 32px 11px 31px;
  font-weight: 500;
  line-height: normal;
}

.lots {
  margin: 179px 24px 146px;
}
.heading {
  margin: 0 0 27px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}
.card-list {
  display: flex;
  gap: 25px;
  list-style: none;
}
.card {
  
  position: relative;
  box-sizing: border-box;
  
  width: 334px;
  height: 563px;
  color: #fff;
  background-position: center;
  background-size: cover;
}
.card-movie{
  background-image: url(../images/card-lot-01.jpg);
}
.card-book{
  background-image: url(../images/card-lot-02.jpg);
}
.card-picture{
  background-image: url(../images/card-lot-03.jpg);
}

.card-content{
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 563px;
  padding: 51px 40px 48px;
  background-color: rgba(0, 0, 0, 0.6);
}

.lot-title {
  width: 254px;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
}

.text {
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.link {
  text-decoration-line: underline;
  text-underline-offset: 2px;
}
.read-more {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-underline-offset: 3px;
}

.about {
  display: flex;
  gap: 72px;
  margin: 0 24px 0px;
  padding: 35px 0 0 47px;
}
.heading-logo {
  margin: 101px 0 100px;
}
.article-content {
  display: flex;
  flex-direction: column;
}
.text-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  letter-spacing: 0.2px;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-content: start;
  margin: 180px 50px 88px;
}
.media {
  display: flex;
  gap: 48px;
}
.media-logo {
  width: 48px;
  height: 48px;
}
